@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&family=STIX+Two+Text&display=swap');

html{
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
    grid-template-rows: 3fr 3fr 3fr 1fr;
    grid-template-areas: "column header header"
                         "column school skill"
                         "column personal personal"
                         "column data data";
}

.item-0{
    min-width: 200px;
    grid-area: column;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: "image"
                         "infos"
                         "contacts";
    border-right: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 0% 5% 5% 0%;

    font-family: 'Merriweather Sans', sans-serif;
}

.image-0{
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.image-0 img{
    max-width: 100%;
    border: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 5%;
}

.info-0{
    grid-area: infos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contacts-0{
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item-1{
    grid-area: header;
    margin: 10px;
}

.title-line{
    position: relative;
    top: 20%;
    margin: 0px auto;
    max-width: 100%;
    height: 2px;
    background-color: rgb(153, 173, 173);;
}

.item-1 h1{
    font-family: 'STIX Two Text', serif;
    font-size: 40px;
    /*min-width: 560.5px;*/
    margin: 50px 50px 10px 50px;
    max-height: 100px;
}

.item-1 h2{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

.item-2{
    grid-area: school;
    margin: 10px;
    /*min-width: 270.25px;*/
    border: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 5%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "title2"
                         "text2";
}

.item-title-2{
    grid-area: title2;
    font-family: 'Merriweather Sans', sans-serif;
}

.item-text-2{
    grid-area: text2;
    font-family: 'Merriweather Sans', sans-serif;
}

.item-3{
    grid-area: skill;
    margin: 10px;
    /*min-width: 270.25px;*/
    border: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 5%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "title3"
                         "text3";
}

.item-title-3{
    grid-area: title3;
    font-family: 'Merriweather Sans', sans-serif;
}

.item-text-3{
    grid-area: text3;
    font-family: 'Merriweather Sans', sans-serif;
}

.item-4{
    grid-area: personal;
    margin: 10px;
    /*min-width: 560.5px;*/
    border: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.main-text{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px 100px;
}

.item-5{
    grid-area: data;
    margin: 10px;
    /*min-width: 560.5px;*/
}

.item-5 p{
    font-family: 'Merriweather Sans', sans-serif;
}

nav{
    margin-left: auto;
    margin-right: 10px;
    /*max-width: 500px;*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

nav div{
    display: inline-block;
    text-align: center;
}

.menu-button {
    background-color: rgb(211, 226, 226);
    position: relative;
    font-family: inherit;
    width: 170px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 2px;
    border-color: rgb(153, 173, 173);
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
}

.menu-button-b {
    background-color: rgb(211, 226, 226);
    position: relative;
    font-family: inherit;
    width: 170px;
    margin: 0 20px;
    padding: 5px 10px;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 2px;
    border-color: rgb(153, 173, 173);
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
}









.grid-container1{
    height: 100%;
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
    grid-template-rows: 3fr 3fr 3fr 1fr;
    grid-template-areas: "column header header"
                         "column school school"
                         "column personal personal"
                         "column data data";
}

.item1-0{
    min-width: 200px;
    grid-area: column;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr 2fr 335px;
    grid-template-areas: "image"
                         "infos"
                         "contacts"
                         "space";
    border-right: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 0% 5% 5% 0%;

    font-family: 'Merriweather Sans', sans-serif;
}

.image1-0{
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.image-0 img{
    max-width: 100%;
    border: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 5%;
}

.info-0{
    grid-area: infos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contacts-0{
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.space{
    grid-area: space;
}

.item1-1{
    grid-area: header;
    margin: 10px;
}

.title-line{
    position: relative;
    top: 20%;
    margin: 0px auto;
    max-width: 100%;
    height: 2px;
    background-color: rgb(153, 173, 173);;
}

.item1-1 h1{
    font-family: 'STIX Two Text', serif;
    font-size: 40px;
    /*min-width: 560.5px;*/
    margin: 50px 50px 10px 50px;
    max-height: 100px;
}

.item1-1 h2{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

.item1-2{
    grid-area: school;
    margin: 10px;
    /*min-width: 560.5px;*/
    border: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.item-title-2{
    grid-area: title2;
    font-family: 'Merriweather Sans', sans-serif;
}

.item-text-2{
    grid-area: text2;
    font-family: 'Merriweather Sans', sans-serif;
}

.item1-3{
    grid-area: personal;
    margin: 10px;
    /*min-width: 560.5px;*/
    border: solid;
    border-color: rgb(153, 173, 173);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.main-text{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px 100px;
}

.item1-4{
    grid-area: data;
    margin: 10px;
    /*min-width: 560.5px;*/
}

.item1-4 p{
    font-family: 'Merriweather Sans', sans-serif;
}


@media (max-width: 480px) {
    .grid-container{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr 3fr 3fr 3fr 1fr;
        grid-template-areas: "header"
                             "column"
                             "school"
                             "skill"
                             "personal"
                             "data";
    }

    .grid-container1{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr 3fr 3fr 1fr;
        grid-template-areas: "header"
                             "column"
                             "school"
                             "personal"
                             "data";
    }

    .child{
        margin-left: 0px;
        margin-right: 0px;
    }

    .item-0{
        min-width: 200px;
        grid-area: column;
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2fr 1fr 2fr;
        grid-template-areas: "image"
                             "infos"
                             "contacts";
        border: none;
        font-family: 'Merriweather Sans', sans-serif;
    }

    .item1-0{
        min-width: 200px;
        grid-area: column;
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2fr 1fr 2fr 0px;
        grid-template-areas: "image"
                             "infos"
                             "contacts"
                             "space";
        border: none;
        font-family: 'Merriweather Sans', sans-serif;
    }
}